﻿.mw-10{
    max-width: 10%;
}

.mh-10{
    max-height: 10%;
}

.mw-20{
    max-width: 20%;
}

.mh-20{
    max-height: 20%;
}

.mw-30{
    max-width: 30%;
}

.mh-30{
    max-height: 30%;
}

.mw-40{
    max-width: 40%;
}

.mh-40{
    max-height: 40%;
}

.mw-50{
    max-width: 50%;
}

.mh-50{
    max-height: 50%;
}

.mw-60{
    max-width: 60%;
}

.mh-60{
    max-height: 60%;
}

.mw-70{
    max-width: 70%;
}

.mh-70{
    max-height: 70%;
}

.mw-80{
    max-width: 80%;
}

.mh-80{
    max-height: 80%;
}

.mw-90{
    max-width: 90%;
}

.mh-90{
    max-height: 90%;
}

.text-italic {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.full-screen-container{
    background-color: #e7f2f9;
    height:100%;
    width:100%;
    min-height: 100%;
}

.col-centered{
    float: none;
    padding: 2rem;
    margin: 10rem auto;
}

.col-centered-2{
    float: none;
    padding: 2rem;
    margin: 20rem auto;
}

.col-centered-3{
    float: none;
    padding: 2rem;
    margin: 30rem auto;
}

.col-centered-4{
    float: none;
    padding: 2rem;
    margin: 40rem auto;
}

.panel-box{
    border-color: #ccc;
    border-radius: 5px;
    background-color: ghostwhite;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
}

.form-swap{
    margin-top: 1rem;
}

/*Material switch - checkbox*/

.material-checkbox {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
    font-size: 14px;
    line-height: 18px;
}

.material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    z-index: -1;
    left: -15px;
    top: -15px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.42);
    outline: none;
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(0); /* Graceful degradation for IE */
    transition: opacity 0.5s, transform 0.5s;
}

.material-checkbox > input:checked {
    background-color: #2196f3;
}

.material-checkbox:active > input {
    opacity: 1;
    transform: scale(0);
    transition: opacity 0s, transform 0s;
}

.material-checkbox > input:disabled {
    opacity: 0;
}

.material-checkbox > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.material-checkbox > span::before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    border: solid 2px rgba(0, 0, 0, 0.42);
    border-radius: 2px;
    width: 14px;
    height: 14px;
    vertical-align: -4px;
    transition: border-color 0.5s, background-color 0.5s;
}

.material-checkbox > input:checked + span::before {
    border-color: #2196f3;
    background-color: #2196f3;
}

.material-checkbox > input:active + span::before {
    border-color: #2196f3;
}

.material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.42);
}

.material-checkbox > input:disabled + span::before {
    border-color: rgba(0, 0, 0, 0.26);
}

.material-checkbox > input:checked:disabled + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.26);
}

.material-checkbox > span::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 10px;
    border: solid 2px transparent;
    border-left: none;
    border-top: none;
    transform: translate(5.5px, 1px) rotate(45deg);
    -ms-transform: translate(5.5px, 2px) rotate(45deg);
}

.material-checkbox > input:checked + span::after {
    border-color: #fff;
}
